<div layout="column" layout-fill>
  <md-toolbar color="primary" class="md-whiteframe-z1">
    <span>Login</span>
  </md-toolbar>
  <div class="md-content" class="login-content" layout-padding flex>
    <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
      <div flex-gt-xs="50">
        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
          
          <div fxLayout="column" fxLayoutAlign="space-around center">

            <img src="assets/icons/ponytails-primary.png" height="356" width="356" />
            <h2 class="login-subtitle">Please Sign In</h2>
          </div>
          
          <md-card-actions layout="row" fxLayoutAlign="center center">
            <button md-raised-button (click)="loginWithGoogle()" class="a100">
                <md-icon svgIcon="assets:google-words"></md-icon> Google
              </button>
              <button  color="primary" md-raised-button  (click)="loginWithFacebook()">
                <md-icon svgIcon="assets:facebook-small"></md-icon> Facebook
              </button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</div>