<td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
        <span>Ponytail Express</span>

    </div>

    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
        <md-card-content class="push-bottom-none">
            <form #lineupForm="ngForm">
                <td-steps (stepChange)="stepChange($event)" mode="horizontal">
                    <td-step label="Game Information" active="true">
                        <div layout="row" layout-margin class="push-top">
                            <md2-datepicker flex="20" [(ngModel)]="date" name="date" format="MMM dd yyyy"></md2-datepicker>
                            <md-input-container flex="50">
                                <input mdInput #displayNameElement #displayNameControl="ngModel" type="text" placeholder="Opponent Name" [(ngModel)]="opponentName" name="opponentName" maxlength="30" required>
                                <md-hint align="start">
                                    <span [hidden]="displayNameControl.pristine" class="tc-red-600">
                  <span [hidden]="!displayNameControl.errors?.required">Required</span>
                                    </span>
                                </md-hint>
                                <md-hint align="end">{{displayNameElement.value.length}} / 30</md-hint>
                            </md-input-container>
                        </div>
                        <div flex="50" layout="row" layout-margin layout-align="start start">
                            <md-slide-toggle flex [(ngModel)]="finished" name="finished">Game Completed</md-slide-toggle>

                        </div>
                    </td-step>
                    <td-step label="Batting Order">
                        <table td-data-table>
                            <th td-data-table-column flex="5">
                                <span>Order</span>
                            </th>
                            <th td-data-table-column width="10" flex="10">
                            </th>
                            <th td-data-table-column>
                                <span>Player Name</span>
                            </th>
                            <!--<th td-data-table-column *ngFor="let inning of innings">
                                {{inning.label}}
                            </th>-->
                            <tr flex [style.color]="player.textColor" [style.background]="player.color" td-data-table-row *ngFor="let player of playing; let i = index; let firstPlayer = first;let lastPlayer = last;">
                                <td td-data-table-cell width="5" flex="5">
                                    {{(i+1)}}
                                </td>
                                <td td-data-table-cell width="10%" flex="10">
                                    <button md-icon-button [style.color]="player.textColor" disabled="{{firstPlayer}}" (click)="moveUp(i,playing)"><md-icon>keyboard_arrow_up</md-icon></button>
                                    <button md-icon-button [style.color]="player.textColor" disabled="{{lastPlayer}}" (click)="moveDown(i,playing)">
                                        <md-icon>keyboard_arrow_down</md-icon>
                                        </button>
                                </td>
                                <td td-data-table-cell flex>
                                    <button md-button (click)="loadPlayer(player)">{{player.name}}</button>
                                </td>

                            </tr>
                        </table>

                    </td-step>
                    <td-step label="Fielding Positions">

                        <div class="diagram" *ngFor="let piData of playingInnings; let i = index;">
                            <div *ngFor="let p of piData.positions">
                                <md-select class="mylabel {{p.style}}" name="position" [(ngModel)]="p.player" #selectControl="ngModel">
                                    <md-option *ngFor="let gp of playing" [value]="gp">{{gp.name}}</md-option>

                                </md-select>
                                <label *ngIf="p.label !== 'Bench'" class="mylabel {{p.style}}">{{p.player.name}}</label>
                            </div>

                            <div class="md-padding md-whiteframe-1dp sittingBox"><strong>Sitting:</strong>
                                <div class="sitting">
                                    <div *ngFor="let p of piData.positions">
                                        <label *ngIf="p.label == 'Bench'">{{p.label}}</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </td-step>
                </td-steps>

            </form>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
            <button md-button [disabled]="!lineupForm.form.valid" color="primary" (click)="save()">SAVE</button>
            <button md-button (click)="goBack()">CANCEL</button>
        </md-card-actions>
    </md-card>

</td-layout-nav>