.diagram {
    float: left;
    width: 430px;
    height: 350px;
    padding-right: 5px;
}

.diagram {
   background: url('../../../assets/icons/field2.png');
}

h2 {
    position: absolute;
    margin: 165px -40px;
    width: 390px;
    text-align: center;
    font: 36px "arial black"
}

.diagram .mylabel {
    font-weight: bold;
    position: absolute;
    display: block;
    padding: 1px 0 1px 2px;
    width: 100px;
    font-size: 120%;
    text-align: center;
    border-radius: 4px;
}

.pitcher {
    margin: 155px 165px
}

.catcher {
    margin: 315px 165px
}

.firstbase {
    margin: 155px 285px
}

.secondbase {
    margin: 120px 240px
}

.over {
    margin: 95px 145px
}

.shortstop {
    margin: 120px 100px
}

.leftcenterfield {
    margin: 45px 70px
}

.rightcenterfield {
    margin: 45px 265px
}

.thirdbase {
    margin: 155px 25px
}

.centerfield {
    margin: 60px 122px
}

.rightfield {
    margin: 105px 310px
}

.leftfield {
    margin: 105px 25px
}

.sittingBox {
    position: absolute;
    margin: 260px 285px;
    padding: 4px;
    width: 90px;
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
    z-index: 10
}